{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{{Titulo}}</title>
    <link rel="icon" type="image/x-icon" href="{%static 'img/lb.ico'%}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/fonts.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <style>
        .banner-inn { 
            position: relative; 
        } 
        .texto-banner-inn { 
            position: absolute; 
            top: 45%; 
            left: 0; 
            width: 100%; 
        } 
    </style>
</head>
<body style="background: linear-gradient(90deg, #2e002e 0%, #643f83 50%, #111a2b 100%);">  
<nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(90deg, #963e6e 0%, #7e51a2 50%, #373394 100%);">
    <a class="navbar-brand mr-2" href="/index">
        <img src="{%static 'img/lg.png'%}" class="img-fluid" width="50" height="50" class="d-block">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% for item in navbar %}
                {% if item.nombre_nav == Titulo %}
                    <a class="nav-item nav-link active mt-2 ml-2" href="{% url item.id_nav %}" style="font-family: 'Bebas Neue'; font-size: 30px; align-self: flex-end;">{{item.nombre_nav}}</a>
                {% else %}
                    <a class="nav-item nav-link mt-2 ml-2" href="{% url item.id_nav %}" style="font-family: 'Bebas Neue'; font-size: 30px; align-self: flex-end;">{{item.nombre_nav}}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<!-- Banner -->
<div class="container-fluid px-0">
    <div class="row align-content-start">
        <div class="banner-inn col-12 img-fluid">
            <img src="{%static 'img/rocket.jpg'%}" alt="" style="width: 2600px;height: 900px">
        </div>
        <div class="texto-banner-inn col-auto pl-5">
            <h1 class="align-text-top col-auto" style="font-family: 'Rowdies'; color: white; font-size: 60px;">¡Lleva tu start-up al siguiente nivel!</h1>
            <h1 class="align-top pt-2 col-auto" style="font-family: 'Rowdies'; color: white; font-size: 30px;">Te lanzamos con toda la fuerza posible, porque sabemos que la necesitas y porque no es momento de ponerse límites.</h1>
        </div>
    </div>
</div>

<!-- Informacion -->
<div class="container-fluid">
    <div class="row p-3">
        <div class="col-md-4 col-auto px-5 p-5 align-content-center" style="max-height: 50%;">
            <h2 style="font-family: 'Rowdies';color: white;" class="text-break">
                Nuestra metodología está diseñada para llevar tu start-up al siguiente nivel apoyándonos en la experiencia real de nuestros mentores, 
                te ofrecemos una ruta personalizada para tu startup.
                Nosotros no somos una academia, somos mentores reales, transfiriendo nuestra experiencia y conocimiento a emprendedores seleccionados que quieren aventurarse al mismo camino.
            </h2>
        </div>
        <div class="col-md-4 col-auto align-content-center">
            <img src="{% static 'img/rocket.png' %}" class="" alt="Rocket League" style="width: 40%;">
        </div>
        <div class="col-md-4 col-auto align-content-center">
            <h2 style="font-family: 'Rowdies';color: white;" class="text-break">
                Somos una aceleradora y fondo de inversión privado que desde el 2024 invierte y acelera
            </h2>
            <a href="/servicios"><button type="button" class="btn btn-dark btn-lg mx-auto d-block" style="background: linear-gradient(0deg, rgba(85,57,112,1) 0%, rgba(21,10,26,1) 100%); max-width: 100%;">POSTULAR</button></a>
            </button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{%static 'js/bootstrap.js'%}"></script>
</body>
</html>
<!-- {% static 'assets/img/favicon.png' %} -->
<!-- Ejemplo de uso de referencias a archivos -->
