{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{{Titulo}}</title>
    <link rel="icon" type="image/x-icon" href="{%static 'img/lb.ico'%}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;}
        .rowdies-light {
        font-family: "Rowdies", sans-serif;
        font-weight: 300;
        font-style: normal;
        }

        .rowdies-regular {
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

        .rowdies-bold {
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        font-style: normal;
        }
    </style>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
</head>
<body style="background-size: 100%; background-image: url('{%static 'img/back.jpg'%}');">  
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #1c4066;">
    <a class="navbar-brand mr-2" href="/index">
        <img src="{%static 'img/lg.png'%}" class="img-fluid" width="50" height="50" class="d-block">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% for item in navbar %}
                {% if item.nombre_nav == Titulo %}
                    <a class="nav-item nav-link active mt-2 ml-2" href="{% url item.id_nav %}" style="font-family: 'Bebas Neue'; font-size: 30px; align-self: flex-end;">{{item.nombre_nav}}</a>
                {% else %}
                    <a class="nav-item nav-link mt-2 ml-2" href="{% url item.id_nav %}" style="font-family: 'Bebas Neue'; font-size: 30px; align-self: flex-end;">{{item.nombre_nav}}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #1a3a5c;"></nav>
<!-- Informacion general -->
<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-md-8 mx-auto mt-5 text-center ">
            <h1 style="font-family: 'Rowdies'; font-size: 60px; align-self: flex-end;">InnovaNow</h1>
        </div>
    </div>
    <div class="row mx-auto">
        
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{%static 'js/bootstrap.js'%}"></script>
</body>
</html>
<!-- {% static 'assets/img/favicon.png' %} -->
<!-- Ejemplo de uso de referencias a archivos -->